<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CI Server</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body class="bg-light">
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="border-bottom border-gray pb-2 mb-0">Bisection information</h4>
            <p style="padding-top: 10px;" th:if="${repoPath != null and branchName != null}">
                Bisection was started for branch <em><strong>[[${branchName}]]</strong></em>
                in repository <em><strong>[[${repoPath}]]</strong></em>.
            </p>
            <p style="padding-top: 10px;" th:unless ="${repoPath != null and branchName != null}">
                Please update this page again. Bisection was not started yet - no useful information.
            </p>
            <p th:if="${bisectStartedCommit != null}">
                Last known good commit before bisection process is <em><strong>[[${bisectStartedCommit}]]</strong></em>.
            </p>
            <p th:if="${commitCount != null}">
                Rough number of commits to check is <em><strong>[[${commitCount}]]</strong></em>.
            </p>

            <p th:if="${bisectionTimeLeft != null}">
                Estimated remaining time is <em><strong>[[${bisectionTimeLeft}]]</strong></em> mins.
            </p>
            <p th:if="${status != null}" th:text="'Status: ' + ${status}" />
            <p th:if="${result != null}" th:text="'Result: ' + ${result}" />
            <p th:if="${isBadCommitReverted}" th:text="'Bad commit was reverted'" />
            <p th:if="${exception != null}">
                Service was failed with exception: [[${exception}]]. Please look for more information in application log.
            </p>
        </div>
    </main>
</body>
</html>